{{>layout/home-header}}

<div class="container my-5">
    {{>layout/bodyheader}}

    <div class="row g-4">
        <div class="col-lg-8">
            <div class="card p-4 shadow-sm border-0 h-100">
                <h5 class="card-title fw-bold text-center text-success mb-4">SMS 템플릿 관리</h5>

                <div class="table-responsive mb-4 table-scrollable">
                    <table class="table table-hover" id="table-template">
                        <thead>
                        <tr>
                            <th>번호</th>
                            <th>템플릿 내용</th>
                            <th>SMS 유형</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#templates}}
                            <tr>
                                <td><a href="#" class="text-decoration-none">{{id}}</a></td>
                                <td>{{templateContent}}</td>
                                <td>{{smsType}}</td>
                                <td> <button type="button" class="btn btn-sm btn-outline-success btn-template-edit">수정</button></td>
                            </tr>
                        {{/templates}}
                        </tbody>
                    </table>
                </div>

                <form action="/smsTemplates/new" method="post" id="smsTemplateForm">
                    <div class="mb-3">
                        <input type="text" class="form-control-plaintext" id="template-id" hidden>
                        <label for="templateContent" class="form-label">SMS 템플릿 내용</label>
                        <textarea class="form-control" placeholder="내용을 입력하세요" id="templateContent" name ="templateContent"></textarea>

                        {{#errors.templateContent}} {{#hasError}}
                            <div class="text-danger mt-1">{{message}}</div>
                        {{/hasError}} {{/errors.templateContent}}
                    </div>
                    <div class="mb-4">
                        <label for="smsType" class="form-label">SMS 유형</label>
                        <select class="form-select" name="smsType" id="smsType">
                            <option value="" selected>선택해주세요</option>
                            <option value="INFORMAITONAL">정보성 문자</option>
                            <option value="ADVERTISING">광고성 문자</option>
                            <option value="VERIFICATION">인증 문자</option>
                        </select>

                        {{#errors.smsType}} {{#hasError}}
                            <div class="text-danger mt-1">{{message}}</div>
                        {{/hasError}} {{/errors.smsType}}
                    </div>
                    <div class="d-grid" id="template-register-group">
                        <button type="button" class="btn btn-success" id="btn-template-save">등록</button>
                    </div>
                    <div class="d-grid gap-2 mt-3 d-none" id="template-edit-group">
                        <button type="button" class="btn btn-outline-success" id="btn-template-cancel-edit">취소</button>
                        <button type="button" class="btn btn-outline-success" id="btn-template-confirm-edit">수정</button>
                        <button type="button" class="btn btn-outline-danger" id="btn-template-delete">삭제</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card p-4 shadow-sm border-0 h-100">
                <h5 class="card-title fw-bold text-center text-success mb-4">템플릿 변수 관리</h5>

                <div class="placeholders mb-4">
                    <div class="table-responsive table-scrollable">
                        <table class="table table-hover" id="placeholdersTable">
                            <thead>
                            <tr>
                                <th hidden>번호</th>
                                <th>분류</th>
                                <th>영문</th>
                                <th>국문</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#placeholders}}
                                <tr>
                                    <td hidden>{{id}}</td>
                                    <td>{{displayVarType}}</td>
                                    <td>{{enText}}</td>
                                    <td>{{koText}}</td>
                                    <td> <button type="button" class="btn btn-sm btn-outline-success btn-variable-edit">수정</button></td>
                                </tr>
                            {{/placeholders}}
                            </tbody>
                        </table>
                    </div>
                    <p class="text-danger mt-3 mb-0 text-center">⚠️ 더블 클릭시 SMS 템플릿에 자동 추가 됩니다.</p>
                </div>

                <form action="/templateVariable/new" method="post" id="templateVariableForm">
                    <div class="mb-3">
                        <input type="text" class="form-control-plaintext" id="variable-id" hidden>
                        <label for="variableType" class="form-label">템플릿 변수 유형</label>
                        <select class="form-select" name="displayVarType" id="displayVarType">
                            <option value="" selected>선택해주세요</option>
                            <option value="고객">고객</option>
                            <option value="공연">공연</option>
                        </select>

                        {{#errors.variableType}} {{#hasError}}
                            <div class="text-danger mt-1">{{message}}</div>
                        {{/hasError}} {{/errors.variableType}}
                    </div>
                    <div class="mb-3">
                        <label for="koText" class="form-label">한글 텍스트</label>
                        <input type="text" class="form-control" placeholder="내용을 입력하세요" id="koText" name ="koText"
                            {{#requestDto}} value="{{requestDto.koText}}" {{/requestDto}}>

                        {{#errors.koText}} {{#hasError}}
                            <div class="text-danger mt-1">{{message}}</div>
                        {{/hasError}} {{/errors.koText}}
                    </div>
                    <div class="mb-4">
                        <label for="enText" class="form-label">영어 텍스트</label>
                        <input type="text" class="form-control" placeholder="내용을 입력하세요" id="enText" name ="enText"
                            {{#requestDto}} value="{{requestDto.enText}}" {{/requestDto}}>

                        {{#errors.enText}} {{#hasError}}
                            <div class="text-danger mt-1">{{message}}</div>
                        {{/hasError}} {{/errors.enText}}
                    </div>
                    <div class="d-grid" id="variable-register-group">
                        <button type="button" class="btn btn-success" id="btn-variable-save">등록</button>
                    </div>
                    <div class="d-grid gap-2 mt-3 d-none" id="variable-edit-group">
                        <button type="button" class="btn btn-outline-success" id="btn-variable-cancel-edit">취소</button>
                        <button type="button" class="btn btn-outline-success" id="btn-variable-confirm-edit">수정</button>
                        <button type="button" class="btn btn-outline-danger" id="btn-variable-delete">삭제</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {{>layout/bodyfooter}}
</div> {{>layout/footer}}